<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>error-404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina no encontrada</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center;">
    <br/>
    <img style="width: 100%;" src="https://assets.entrepreneur.com/article/h1/3-ways-to-create-more-engaging-404-pages2.jpg"/>
    <br/><br/><br/>
    <ion-button class="btn btn-primary" (click)="irAlHome()">Ir al Menu</ion-button>
  </div>
</ion-content>
