
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="goMenu()" id="title"></ion-menu-button>
    </ion-buttons>
    <ion-title id="title">Skeleton</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content id="conten1">

  <ion-title id="b" size="large">Restaurantes</ion-title>
  <p>Nuestros Restaurantes se encuentran a 10 minutos en metro de la torre Tokyo Skytree y a unos 20 minutos en metro de las zonas comerciales de Asakusa, Ginza y Akihabara.</p>
  <ion-img src="https://img.freepik.com/fotos-premium/desenfoque-restaurante-bar-playa-fondo-generativo-ai_220873-28110.jpg"></ion-img>


  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUZu4Z7Ng2O0sjS-HtoNdXU4HdhiF7vgs7Pg&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante paraiso</ion-card-title>
        <ion-card-subtitle id="text-card-st">$50.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-aPlhbKanfcKiT0m6xmbfC6QyxflisJR6w&s"/>
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante las joyas</ion-card-title>
        <ion-card-subtitle id="text-card-st">$70.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-item-divider>

  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8_YT98Cf7dVL1aMedE7BkDo8pkWtIzqSAVw&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante 5 estrellas</ion-card-title>
        <ion-card-subtitle id="text-card-st">$40.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXsre9HObF4jRhjD_yBb8cUEBzyIkjAnoOkw&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante las lomas</ion-card-title>
        <ion-card-subtitle id="text-card-st">$500.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
  </ion-item-divider>

  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpjsSteNis7Edu7d6bzNSeelxYLJVijh-T6w&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante 1</ion-card-title>
        <ion-card-subtitle id="text-card-st">$150.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShiS4BQZ07l43zBGUTZE_s_NRKZGu2xyyu-g&s"/>
      <ion-card-header>
        <ion-card-title id="text-card-t">Restaurante las casas</ion-card-title>
        <ion-card-subtitle id="text-card-st">$85.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
  </ion-item-divider>

  
</ion-content>
<ion-toolbar color="light" >
  <ion-title id="a">Realizado por Katherin G.</ion-title>
</ion-toolbar>
