

<ion-content >

  <ion-item-divider id="div1">
    <ion-toolbar>
      <ion-title size="large">CERTIFICADO</ion-title>
    </ion-toolbar>
  </ion-item-divider>

  <ion-item-divider id="div1">
    <form [formGroup]="formularioCertificados" (ngSubmit)="enviar()">
      <ion-list>
        <ion-item>
          <ion-input class="" label="Certificado:" placeholder="ingrese certificado" id="nombreCertificado"
          formControlName="nombreCertificado">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="" label="Fecha Obtención:" placeholder="Ingrese fecha" id="fechaObtencion"
          type="date" formControlName="fechaObtencion">              
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-segment value="vencimiento" formControlName="certificadoVence">
            <ion-segment-button value="si" >
              <ion-label>Vencimiento</ion-label>
            </ion-segment-button>
            <ion-segment-button value="no">
              <ion-label>No vencimiento</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item *ngIf="formularioCertificados.value['certificadoVence']==='si'">
          <ion-input class="" label="Fecha vencimiento:" placeholder="Ingrese fecha" id="fechaVencimiento"
          type="date" formControlName="fechaVencimiento">
            
          </ion-input>
        </ion-item>
      </ion-list>
      <div style="text-align: center;">
        <ion-button class="btn btn-primary" type="reset" >limpiar</ion-button>
        <ion-button class="btn btn-primary" type="submit">Enviar</ion-button>
      </div>
    </form>
  </ion-item-divider> 
</ion-content>
