<ion-header>
  <ion-title>Skeleton2</ion-title>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      home
    </ion-tab-button>
    <ion-tab-button tab="certificados">
      <ion-icon name="bookmarks"></ion-icon>
      certificados
    </ion-tab-button>
    <ion-tab-button tab="experiencias">
      <ion-icon name="briefcase"></ion-icon>
      experiencias
    </ion-tab-button>
    <ion-tab-button tab="mis-datos">
      <ion-icon name="folder"></ion-icon>
      Mis datos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
