#a {
  
    color: rgb(22, 159, 84);
    font-size: 15px;  
  
  }

  p{
    margin: 5%;
    color: rgb(8, 67, 168);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 ion-img{
    margin-left: 10%;
    margin-right: 10%;
 }

 #div-card {
    padding: 8%;
  }
 
  #text-card-t {
    margin-top: 1%;
  }
 
  #text-card-st {
    margin-top: 0%;
  }

  #title {
    color: white;
  }

  #b {
    padding-top: 5%;
    text-align: center;
    color:rgb(8, 67, 168);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5%;
}
