<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="goMenu()"  id="title"></ion-menu-button>
    </ion-buttons>
    <ion-title id="title">Skeleton</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="b" size="large">Tours</ion-title>
  <p>Nuestros Tours se encuentran a 10 minutos en metro de la torre Tokyo Skytree y a unos 20 minutos en metro de las zonas comerciales de Asakusa, Ginza y Akihabara.</p>
  <ion-img src="https://safetourscozumel.com/images/tours/tours_images/110/stc-id0001-snorkel-en-barco-vip-con-fondo-de-cristal-cubana-en-cozumel-03.jpg"></ion-img>

  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7ooWHqSYmuCLtbOZ9pEaX2p1xXPWJRggT0A&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Desierto arido</ion-card-title>
        <ion-card-subtitle id="text-card-st">$50.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR_aWDdiC-SwNDuGepN8YSRl8qMjrZUKkBQw&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Lago Rapel</ion-card-title>
        <ion-card-subtitle id="text-card-st">$70.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-item-divider>

  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg4ZZNclque1-XM6G4HshvWk3l_brmF-4ZrQ&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Cultura Maya</ion-card-title>
        <ion-card-subtitle id="text-card-st">$40.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-aiVLxXOv8M-binxIfh9HkqW7pwDak_-TIw&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Naranjos</ion-card-title>
        <ion-card-subtitle id="text-card-st">$500.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
  </ion-item-divider>

  <ion-item-divider id="div-card">
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiJ8eLfoDF6tb_YAyB6tVWh05A50Hfk5OJ7g&s"/>      
      
      <ion-card-header>
        <ion-card-title id="text-card-t">Farellloes</ion-card-title>
        <ion-card-subtitle id="text-card-st">$150.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRE7fMw5FFrdJX2ZlnCvhRTRWTujfvPGbEGQ&s"/>      
      <ion-card-header>
        <ion-card-title id="text-card-t">Torre Ifel</ion-card-title>
        <ion-card-subtitle id="text-card-st">$85.000 c/n</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
  </ion-item-divider>

</ion-content>



<ion-toolbar color="light" >
  <ion-title id="a">realizado por Katherin G.</ion-title>
</ion-toolbar>
