

#div1 {
    margin-top: 30%;
}

capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
    position: absolute;
    z-index: 99999;
}

ion-col {
    background-color: #2cebfc;
    border: solid 1px #fff;
    color: #fff;
    text-align: left;
    font-size: 9px;
  }


img{
    width: 60px;
    height: 60px;
    margin: 5px;
}
