<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start" style="margin-left: 20px;">
      <ion-icon (click)="volver()" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title id="title">Avatar</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avatar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <h3>Selecciona tu avatar:</h3>
    <ion-row>
      <ion-col size="6" *ngFor="let imagen of imagenesPredefinidas">
        <img [src]="imagen" [ngClass]="getClass(imagen)" (click)="seleccionarImagen(imagen)" />
      </ion-col>
    </ion-row>
    <ion-button (click)="cambiarPagina(page-1)" [disabled]="page === 1"><</ion-button>
    <ion-button [ngClass]="getPageButonClass(num)" *ngFor="let num of [page, page+1, page +2];" (click)="cambiarPagina(num)">{{num}}</ion-button>
    <ion-button (click)="cambiarPagina(page + 1)" [disabled]="page+2 === pageLimit">></ion-button>
  </ion-grid>

  <div id="container">
    <ion-button (click)="takePicture()">Tomar Foto</ion-button>
    <img *ngIf="imageSource" src="{{imageSource}}" alt="image" style="width: 100%; max-width: 250px;">
  </div>

  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="siguiente()" [disabled]="!anySelected()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
