

<ion-content >
  
  <ion-item-divider id="div1">
    <ion-toolbar>
      <ion-title size="large">Cambiar contraseña</ion-title>
      <h1>
        Bienvenido: {{nombreUsuario}}
      </h1>
    </ion-toolbar>
  </ion-item-divider>

  <ion-item-divider>
    <form [formGroup]="formularioDatosUsusario" (ngSubmit)="enviar()">
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input class="" label="Contraseña actual:" placeholder="..." id="passAnterior"  
            formControlName="passAnterior" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="" id="b" label="Contraseña nueva:" placeholder="..." 
            id="passNueva"  formControlName="passNueva" type="password"></ion-input>
          </ion-item>
      

        </ion-list>
      </ion-list>
      <div style="text-align: center;">
        <ion-button class="btn btn-primary" type="reset" (click)="reset()">limpiar</ion-button>
        <ion-button class="btn btn-primary" type="submit" >Enviar</ion-button>
      </div>
    </form>
  </ion-item-divider>
  <br/>
  <br/>
</ion-content>
